<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<section layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <title>Aktywny Trener</title>
</head>

<body>

<nav>
    <a href="/mecze">Mecze</a>
    <a href="http://localhost:8080/inactive.html">Zawodnicy</a>
    <a href="http://localhost:8080/inactive.html">Sponsorzy</a>
    <a href="http://localhost:8080/inactive.html">O nas</a>
    <a href="http://localhost:8080/inactive.html">Kontakt</a>

    <a class="a1" href="/mecze">Szkółka Piłkarska</a>

    <a class="a2 active" href="http://localhost:8080/panel.html">Panel właściciela</a>
</nav>

Aktywny Trener: <tr th:with="trener=${aktywni[#lists.size(aktywni) - 1]}">

    <table id="mecze" class="content-table fbody">
        <thead>
        <tr>
            <th>ID</th>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Data Zatrudnienia</th>
            <th>Staż pracy</th>
            <th>Liczba godzin w miesiącu</th>
            <th>Stawka za godzinę</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${trener.getId()}" ></td>
            <td th:text="${trener.getImie()}"></td>
            <td th:text="${trener.getNazwisko()}"></td>
            <td th:text="${trener.getDataZatrudnienia()}"></td>
            <td th:text="${trener.getStazPracy()}"></td>
            <td th:text="${trener.getLiczbaGodzin()}"></td>
            <td th:text="${trener.getStawkaZaGodzine()}"></td>
            <td th:text="${trener.getEmail()}"></td>
        </tr>
        </tbody>
    </table>
</tr>
<p></p>

<a href="/add" class="button">Przydziel Nowego Trenera</a> <p></p><p></p><p></p><p></p><p></p><p></p>


<a href="/historia" class="button">Wyświetl historię trenerów</a>

</body>
</section>
</html>