<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
        <link rel="stylesheet" href="/main.css"/>
<section layout:fragment="content">

    <body>

    <nav>
        <a class="active" href="/mecze">Mecze</a>
        <a href="http://localhost:8080/inactive.html">Zawodnicy</a>
        <a href="/sponsorzy">Sponsorzy</a>
        <a href="http://localhost:8080/inactive.html">O nas</a>
        <a href="http://localhost:8080/inactive.html">Kontakt</a>

        <a class="a1" href="/mecze">Szkółka Piłkarska</a>

        <a class="a2" href="http://localhost:8080/panel.html">Panel właściciela</a>
    </nav>


    Mecze: <p></p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <input id="searchFrom" class="searchInput" type="text" placeholder="From"/>
    <input id="searchTo" class="searchInput" type="text" placeholder="To" >

    <table id="mecze" class="content-table fbody">
        <thead>
        <tr>
            <th>ID</th>
            <th>Data</th>
            <th>Status</th>
            <th>Wynik</th>
            <th>Klub rywal</th>
            <th>Boisko</th>
            <th>Nazwisko/a strzelców</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="mecz : ${mecze}">
            <td th:text="${mecz.getId()}" ></td>
            <td th:text="${mecz.getData()}"></td>
            <td th:text="${mecz.getStatusMeczu()}"></td>
            <td th:text="${mecz.getWynik()}"></td>
            <td th:text="${mecz.klub.getNazwa()}"></td>
            <td th:text="${mecz.boisko.getNazwa()}"></td>
            <td th:text="${mecz.getLastName()}">


            </td>

        </tr>
        <script>
            $(".searchInput").on("input", function() {
                var from = stringToDate($("#searchFrom").val());
                var to = stringToDate($("#searchTo").val());

                $(".fbody tr").each(function() {
                    var row = $(this);
                    var date = stringToDate(row.find("td").eq(1).text());

                    //show all rows by default
                    var show = true;

                    //if from date is valid and row date is less than from date, hide the row
                    if (from && date < from)
                        show = false;

                    //if to date is valid and row date is greater than to date, hide the row
                    if (to && date > to)
                        show = false;

                    if (show)
                        row.show();
                    else
                        row.hide();
                });
            });

            //parse entered date. return NaN if invalid
            function stringToDate(s) {
                var ret = NaN;
                var parts = s.split("-");
                date = new Date(parts[0], parts[1], parts[2]);
                if (!isNaN(date.getTime())) {
                    ret = date;
                }
                return ret;
            }
        </script>
        </tbody>

    </table>


    </body>
</section>

</html>