<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<section layout:fragment="content">
  <head>
    <meta charset="UTF-8">
    <title>Sponsorzy</title>
  </head>

  <body>

  <nav>
    <a href="/mecze">Mecze</a>
    <a href="http://localhost:8080/inactive.html">Zawodnicy</a>
    <a class="active" href="/sponsorzy">Sponsorzy</a>
    <a href="http://localhost:8080/inactive.html">O nas</a>
    <a href="http://localhost:8080/inactive.html">Kontakt</a>

    <a class="a1" href="/mecze">Szkółka Piłkarska</a>

    <a class="a2" href="http://localhost:8080/panel.html">Panel właściciela</a>
  </nav>

  Sponsorzy:

  <table id="sponsorzy" class="content-table fbody">
    <thead>
    <tr>
      <th>ID</th>
      <th>Data rozpoczecia wspolpracy</th>
      <th>Pokaz kluby</th>


    </tr>
    </thead>
    <tbody>
    <tr th:each="sponsor : ${sponsorzy}">
      <td th:text="${sponsor.getId()}" ></td>
      <td th:text="${sponsor.getDataRozpoczeciaWspolpracy()}"></td>

      <td> <a th:href="@{/klubyWSponsorze/{id}(id=${sponsor.id})}" >Pokaz kluby</a></td>
      </td>

    </tr>

    </tbody>
  </table>



  </body>
</section>
</html>